################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/驱动禁用/bin/Debug
/驱动禁用/obj/Debug
/.vs/驱动禁用/v15
/.vs/DriverEnableAndDisable/v15
